<div class="container h-75 mt-5 bg-white px-5 pt-3 vh-75 rounded-1 shadow-sm">
    <h3 class="my-3">Friends</h3>
    <form class="form-outline align-items-bottom">
        <div class="row d-flex align-items-end">
            <div class="col-9">
                <label for="search">Search friends</label>
                <input type="text" 
                    id="search"
                    class="form-control"
                    placeholder="Search friends">
            </div>
            <div class="col">
                <button class="btn btn-primary btn-accent mt-1" type="button">Sign In</button>
            </div>
        </div>
    </form>
    
    <h3 class="my-3">My Friends</h3>
    <app-friend-item></app-friend-item>
    <app-friend-item></app-friend-item>
</div>
