<div class="container h-75 mt-5 bg-white px-5 pt-3 vh-75 rounded-1 shadow-sm">
    <h3 class="my-3">Friends</h3>
    <form class="form-outline align-items-bottom">
        <div class="row d-flex align-items-end">
            <div class="col-9">
                <label for="search">Search friends</label>
                <input type="text" 
                    id="search"
                    name="search"
                    class="form-control"
                    [(ngModel)]="searchText"
                    autocomplete="off"
                    placeholder="Search friends">
            </div>
            <div class="col">
                <button class="btn btn-primary btn-accent mt-1" type="button">Search</button>
            </div>
        </div>
    </form>
    
    <h3 class="my-3">My Friends</h3>

    <p *ngIf="!friends.length" class="mt-3">You have no friends</p>    
    <p *ngIf="!(friends | filter: searchText).length" class="mt-3">You have no friends with this username</p>    

    <div class="row shadow-sm mb-2 align-items-center" 
        *ngFor="let friend of friends | filter: searchText">
        <span class="col-10">{{ friend.username }} </span>
        <button class="btn btn-danger col-2" (click)="delete(friend.id)">Remove Friend</button>
    </div>
</div>
