.card {
    width: 270px;
    height: 490px;
}

@media (min-width: 1400px) {
    .card {
        width: 285px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .card {
        width: 240px;
    }
}

.price { 
    margin-top: -50px;
}

.card-top {
    height: 140px;
    background-color: #BDBCFF;
    background-position: center;
    background-size: cover;
}
